body{
  font-family: "Hiragino Kaku Gothic ProN","メイリオ","sans-serif";
}

h1{
  width: 500px;
  font-size: 20px;
  background-color:lightgray;
  border-left: 4px red solid ;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
}

form{
  width: 500px;
  margin: 0 auto;
  background-color: #fbfbfb;
  border: 3px #ededed solid;
  border-radius: 10px;
}

form div{
  padding: 15px;
}

.text,textarea,.dropdown{
  border:1px solid #dfdfdf;
  padding: 5px;
  color: #999;
}

.submit{
  background-color: #bfbfbf;
  color: white;
  border: 1px solid lightgray;
  padding: 4px 10px;
  border-radius: 5px;
  border-bottom: solid 2px gray;
}